<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syfc.mapper.BallMapper">
	<!-- 축구공 테이블: 대표 공 1개 조회 -->
	<select id="findMainBall" parameterType="long" resultType="com.syfc.dto.BallDTO">
		SELECT mbm.memberIdx, b.ball_idx, b.ball_name, 
		    b.ball_image, b.ball_grade, b.ball_rating, 
		    b.required_match_count, b.is_active,
		    TO_CHAR(b.created_date, 'YYYY-MM-DD')AS created_date,
		    TO_CHAR(b.update_date, 'YYYY-MM-DD')AS update_date
		FROM MemberBall_main mbm
		JOIN Ball b ON b.ball_idx = mbm.ball_idx
		WHERE mbm.memberIdx = #{memberIdx}
	</select>
	
	<!-- 뽑은 공 결과 조회 -->
	<select id="findBallByIdx" parameterType="long" resultType="com.syfc.dto.BallDTO">
		SELECT ball_idx, ball_name, ball_image, ball_grade
		FROM Ball
		WHERE ball_idx = #{ball_idx}
	</select>

</mapper>
