<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syfc.mapper.ClubOwnerMatchMapper">

	<!-- 구단 전체 경기 이력 조회 -->
	<select id="selectClubMatchList" parameterType="long" resultType="com.syfc.dto.ClubOwnerMatchDTO">
		SELECT 
			m.Match_num         AS matchNum,
			TO_CHAR(m.match_date, 'YYYY-MM-DD') AS matchDate,
			m.match_time        AS matchTime,
			m.home_score        AS homeScore,
			m.away_score        AS awayScore,
			s.stadium_name      AS stadiumName,
			hc.club_name        AS homeClubName,
			ac.club_name        AS awayClubName
		FROM Match m
		INNER JOIN Match_Apply ma ON m.apply_id = ma.apply_id
		INNER JOIN Stadium s ON ma.stadium_id = s.stadium_id
		INNER JOIN Club hc ON ma.clubOwner_key = hc.clubOwner_key
		INNER JOIN Club ac ON ma.clubOwner_key2 = ac.clubOwner_key
		WHERE (ma.clubOwner_key = #{clubOwnerKey} OR ma.clubOwner_key2 = #{clubOwnerKey})
		ORDER BY m.match_date DESC
	</select>

	<!-- 경기 이력 검색 (년/월/결과 조건) -->
	<select id="selectClubMatchListByMap" parameterType="map" resultType="com.syfc.dto.ClubOwnerMatchDTO">
		SELECT 
			m.Match_num         AS matchNum,
			TO_CHAR(m.match_date, 'YYYY-MM-DD') AS matchDate,
			m.match_time        AS matchTime,
			m.home_score        AS homeScore,
			m.away_score        AS awayScore,
			s.stadium_name      AS stadiumName,
			hc.club_name        AS homeClubName,
			ac.club_name        AS awayClubName
		FROM Match m
		INNER JOIN Match_Apply ma ON m.apply_id = ma.apply_id
		INNER JOIN Stadium s ON ma.stadium_id = s.stadium_id
		INNER JOIN Club hc ON ma.clubOwner_key = hc.clubOwner_key
		INNER JOIN Club ac ON ma.clubOwner_key2 = ac.clubOwner_key
		<where>
			(ma.clubOwner_key = #{clubOwnerKey} OR ma.clubOwner_key2 = #{clubOwnerKey})
			
			<if test="year != null and year != ''">
				AND TO_CHAR(m.match_date, 'YYYY') = #{year}
			</if>
			
			<if test="month != null and month != ''">
				AND TO_CHAR(m.match_date, 'MM') = #{month}
			</if>
			
			<if test="result != null and result != ''">
				<if test='result == "WIN"'>
					AND ((ma.clubOwner_key = #{clubOwnerKey} AND m.home_score &gt; m.away_score)
					  OR (ma.clubOwner_key2 = #{clubOwnerKey} AND m.away_score &gt; m.home_score))
				</if>
				<if test='result == "DRAW"'>
					AND m.home_score = m.away_score
				</if>
				<if test='result == "LOSE"'>
					AND ((ma.clubOwner_key = #{clubOwnerKey} AND m.home_score &lt; m.away_score)
					  OR (ma.clubOwner_key2 = #{clubOwnerKey} AND m.away_score &lt; m.home_score))
				</if>
			</if>
		</where>
		ORDER BY m.match_date DESC
	</select>

</mapper>