<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfc.mapper.ClubOwnerChangeMapper">

	<select id="listTransferCandidates"
		parameterType="map"
		resultType="com.syfc.dto.ClubOwnerChangeDTO">
		SELECT cj.clubjoin_num,
		m1.memberIdx AS targetMemberIdx,
		m1.userName,
		m2.tel,
		TO_CHAR(cj.clubJoin_date,'YYYY-MM-DD') AS
		join_date,
		m2.pref_position,
		CASE
		WHEN m2.pref_position = 1 THEN 'GK'
		WHEN m2.pref_position = 2 THEN 'DF'
		WHEN m2.pref_position = 3 THEN 'MF'
		WHEN m2.pref_position = 4 THEN 'FW'
		ELSE 'FW'
		END AS positionName
		FROM
		clubJoin cj
		JOIN member1 m1 ON cj.memberIdx = m1.memberIdx
		LEFT JOIN
		member2 m2 ON m1.memberIdx = m2.memberIdx
		WHERE cj.clubOwner_Key = 
		#{clubOwner_key} AND
		cj.clubJoin_result = 1 AND
		m1.memberIdx !=
		#{memberIdx}
		ORDER BY join_date ASC
	</select>

	<select id="getOwnerPassword" parameterType="Long"
		resultType="String">
		SELECT userPwd
		FROM member1 m1
		WHERE m1.memberIdx =
		#{memberIdx}
	</select>

	<update id="updateClubOwner"
		parameterType="com.syfc.dto.ClubOwnerChangeDTO">
		UPDATE clubOwner
		SET memberIdx = #{targetMemberIdx}
		WHERE
		clubOwner_key = #{clubOwner_key}
	</update>

	<update id="updateOwnerToMember"
		parameterType="com.syfc.dto.ClubOwnerChangeDTO">
		UPDATE member1
		SET userLevel = 1
		WHERE memberIdx =
		#{memberIdx}
	</update>

	<update id="updatePlayerToOwner"
		parameterType="com.syfc.dto.ClubOwnerChangeDTO">
		UPDATE member1
		SET userLevel = 50
		WHERE memberIdx =
		#{targetMemberIdx}
	</update>
</mapper>