<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syfc.mapper.ClubOwnerRequestMapper">
	<!-- 구단주 신청 -->
	<insert id="insertClubOwnerRequest" parameterType="com.syfc.dto.ClubOwnerRequestDTO">
		INSERT INTO ClubOwnerRequest(cor_request_num, cor_content, 
			cor_requestdate, cor_status, memberIdx)
		VALUES(cor_request_seq.NEXTVAL, #{cor_content}, 
			SYSDATE, #{cor_status}, #{memberIdx})
	</insert>
	
	<!-- 구단주 신청결과 조회 -->
	<select id="listClubOwnerRequest" parameterType="long" resultType="com.syfc.dto.ClubOwnerRequestDTO">
		SELECT cor_request_num, cor_content, 
			TO_CHAR(cor_requestdate, 'YYYY-MM-DD')AS cor_requestdate,
			cor_status, memberIdx
		FROM ClubOwnerRequest
		WHERE memberIdx = #{memberIdx}
		ORDER BY cor_request_num DESC 
	</select>
	
	<!-- 구단주 신청 취소 -->
	<delete id="deleteClubOwnerRequest" parameterType="com.syfc.dto.ClubOwnerRequestDTO">
		DELETE 
		FROM ClubOwnerRequest
		WHERE cor_request_num = #{cor_request_num} AND
			memberIdx = #{memberIdx} AND cor_status = 2
	</delete>

</mapper>
