<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syfc.mapper.NoticeMapper">

    <!-- 알림 목록 -->
    <select id="listNotice" parameterType="int"
            resultType="com.syfc.dto.NoticeDTO">
        SELECT
            notice_id, notice_content, memberIdx, notice_read,
            TO_CHAR(notice_sendDate, 'YYYY-MM-DD HH24:MI:SS') AS notice_sendDate,
            TO_CHAR(notice_readDate, 'YYYY-MM-DD HH24:MI:SS') AS notice_readDate

        FROM Notice
        WHERE memberIdx = #{memberIdx}
        ORDER BY notice_sendDate DESC, notice_id DESC
        FETCH FIRST 15 ROWS ONLY
    </select>

    <!-- 읽음 처리 -->
    <update id="updateRead" parameterType="com.syfc.dto.NoticeDTO">
        UPDATE Notice
        SET notice_read = 1, notice_readDate = SYSDATE
        WHERE notice_id = #{notice_id}
          AND memberIdx = #{memberIdx}
          AND NVL(notice_read, 0) = 0
    </update>
    
    
    <insert id="insertNotice" parameterType="com.syfc.dto.NoticeDTO">
    INSERT INTO Notice 
    	(notice_id, notice_content, memberIdx, notice_read, notice_sendDate)
    VALUES (notice_seq.NEXTVAL, #{notice_content}, #{memberIdx}, 0, SYSDATE)
	</insert>


</mapper>